{% extends 'phonebook/base.html' %}

{% block content %}

    <div class="card text-center" style="margin-top: 20px;">
      <div class="card-header">
          <a href="{% url 'index' %}" class="float-left btn btn-secondary">back to list</a>

      </div>
      <div class="card-body">
        <h2>Are you sure to delete [ {{ entry.name }} ] entry?</h2>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="yes" class="btn btn-danger">
            <a href="{% url 'detail' entry.pk %}"><input type="button" value="no" class="btn btn-success"></a>
        </form>
      </div>
    </div>
{% endblock %}